.section {
    padding: 0 20px;
    /* height: 500px;    */
}
.main{
    display: flex;
    align-items: flex-end;
    flex-direction: column;    
}
.main img{
    width: 120px;
    margin: 40px 200px 100px 0;
}




@media screen and (min-width: 768px) {
    .main img{
        margin-right: 280px;
    }
   
}

@media screen and (min-width: 992px) {
    .main{
        margin-right: 120px;
    }

}


